*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #89c087;
}

header{
padding-top:10px;
}

header h1{
  font-size: 25px;
}

.smile{
border-radius: 50%;
width: 40px;
height: 40px;
}

.flex-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name{
  display: flex;
  gap: 10px;
  align-items: center;
}

img{
  height: 40px;
  width: 40px;
}


a{
  text-decoration: none;
  color: black;

}

section{
  padding: 40px 0;
}

.flex-user{
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d9;
}

.username{
  display: flex;
  gap: 10px;
  align-items: center;
}

.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.chatbox{
  background-color: #d1e1fa;
  padding-bottom: 80px;
}

.message-form{
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0px;
}

.type-msg{
padding: 10px;
width: calc(100% - 80px);
border: 1px solid black;
background-color: #d9d9d9;
}

.send-btn{
  padding: 10px 20px;
  background: url("../assets/paper-airplane.svg")#89c087;
  background-position: center;
  background-size: cover;
  top: 10px;
}

.send-btn:hover{
  background-color: aquamarine;
}

.login{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form{
  padding: 100px 0;
  background-color:  #d1e1fa;
  text-align: center;
  border-radius: 8px;
}

.login-form h1{
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.login-form input{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 15px;
  width: 80%;
}

.login-btn{
  background-color: #89c087;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.login-btn:hover{
  background-color: aquamarine;
}

#messages{
  padding: 10px;
}

span{
  border: 2px solid black;
  background-color: #89c087;
  border-radius: 8px;
  display: block;
  padding: 15px 10px;
  width: 60%;

}

.they{
  background-color: #d9d9d9;
  
}

.me{
  position: relative;
  left:130px;
}


.me i{
  position: relative;
  top: 40px;
  left:80%;
  font-size: 16px;
}

.they i{
  position: relative;
  top: 40px;
  font-size: 16px;
}

.logout{
  transition: 0.5s;
}

.logout:hover{
color: white;
}

.logout-page{
  text-align: center;
  text-transform: capitalize;
}

.logout-page h1{
  margin-bottom: 20px;
}

